<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>   
    <commands>
       <command name="FieldCommandPOC:WebEditOpen" type="FieldCommandPOC.Commands.Open,FieldCommandPOC"/>
      <command name="FieldCommandPOC:Clear" type="FieldCommandPOC.Commands.Clear,FieldCommandPOC"/>
    </commands>
  </sitecore>
</configuration>

